<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>First LAB Express - Chocolate Project </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1> Some pictures :)</h1>
    <div class="navbar">
      <ul>
        <li> <a href="/chocolate">Learn more about Chocolate </a></li> <br>
        <li><a href="/"> Home Page </a></li>
      </ul>
    </div>
    <div class="img">
      <img src="/images/chocolate-picture.jpg" alt="chocolate" width="369" height="220">
    </div>
  </body>
</html>